<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>

  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
  <link href="/assets/css/footer.css" rel="stylesheet">
  <link href="/assets/css/snake.css" rel="stylesheet">
  <link href="/assets/css/quetes.css" rel="stylesheet">
  <link href="/assets/css/edge.css" rel="stylesheet">
</head>