<div class="desktop-icons">
    <a href="#" class="icone-container" onclick="openQuetes()">
        <img src="/assets/img/quete_icone.png" class="icone" alt="Icone quêtes">
        <span class="icone-label">Quêtes</span>
    </a>
    <a href="#" class="icone-container" onclick="openTerminal()">
        <img src="/assets/img/terminal_icone.png" class="icone" alt="Terminal">
        <span class="icone-label">Terminal</span>
    </a>
    <a href="#" class="icone-container">
        <img src="/assets/img/edge.png" onclick="openChatbot()" class="icone" alt="Edge">
        <span class="icone-label">Internet Explorer</span>
    </a>
</div>