<div id="journal-quetes" class="quetes-window" style="display: none;">
    <div class="title-bar">
        <span class="title-text">
            Journal de quêtes
        </span>
        <div class="window-controls">
            <button class="control-btn minimize-btn">—</button>
            <button class="control-btn maximize-btn">□</button>
            <button class="control-btn close-btn" onclick="fermerFenetre('journal-quetes')">X</button>
        </div>
    </div>
    <ul>
        <li> Sur ton bureau, tu vas trouver un chatbot. Alors lui, je te préviens, c'est pas le bot le plus rapide du serveur. On a essayé de l'éduquer, mais tu vas voir, c'est un sacré ch'abruti. 
Va falloir t'en occuper, notamment en lui faisant dire UN truc, le mot magique, le fameux "Linux".</li>
        <li>Sous windows, on connaît pas trop les terminaux. Sous linux, on adore les terminaux. Apprends à t'en servir en ouvrant le "terminal", avec un peu de chance tu vas réussir à trouver un serpent bien connu... (astuce: la commande "man rtfm" devrait être utile)</li>
    </ul>

</div>
