<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <link href="/assets/css/fin.css" rel="stylesheet">
</head>

<body>

<main class="container">
<p> Bravo!! Votre pc est maintenant comme neuf et prêt à être utilisé.
    Vous l'avez vu, à cause de l'obsolescence programmée, Windows peut vite devenir inutilisable.
    C'est pourquoi nous oeuvrons pour que linux soit déployé dans les écoles, collèges et lycées.
    Le code open source permet d'adapter les ressources mises à disposition en fontion des besoins, génial non ?
    Pour plus d'infos, nous vous invitons à consulter <a href="https://nird.forge.apps.education.fr/">ce site</a>
</p>>
</main>

</body>
</html>